<div class="page-header">
  <h1>User: <%= @user.name %></h1>
</div>

<p>
  Add manager here.
</p>

<p>
  Add subordinates here, including their level.
</p>

<p>
  To get the ordinalized numbers, check
  <%= link_to "http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-ordinalize",
              "http://api.rubyonrails.org/classes/ActiveSupport/Inflector.html#method-i-ordinalize" %>
</p>
